<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <title>Predict</title>
</head>
<body>
<div style="text-align: center" class="container text-center mt-4 align-items-center justify-content-center">
    <form action='/' method="get">
        <h1>Прогноз</h1>
        <h2>Категория: {{category}} </h2>
        <h2>Подкатегория: {{sub_category}}</h2>
        <h2>Прогнозируемая цена: {{price}}</h2>
        <button class="btn btn-primary" type="submit">На главную</button>
    </form>
</div>
</body>
</html>