<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
                crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container mt-4">
          <div class="card">
            <div class="card-body">
                <h1 class="text-center">Набор данных с информацией о продуктах JIO: </h1>
                <br>    
                <h5 class="text-center">Описание набора данных: {{description}}</h5>
                <br>
                <h3 class="text-center">Описание стоблцов таблицы:</h3>
                <br>
                <h6 class="text-center">{{column_info}}</h6>

                <ol class="list-group list-group-numbered">
                    <li class="list-group-item">category - категория товара, указанная на сайте.</li>
                    <li class="list-group-item">sub_category - подкатегория товара, как на сайте</li>
                    <li class="list-group-item">href - ссылка на товар.</li>
                    <li class="list-group-item">items - product item name.</li>
                    <li class="list-group-item">price - product item's price.</li>
                  </ol>

                <ol class="list-group list-group-numbered">
                    <li class="list-group-item"><b> Пустые ячейки:</b> {{empty_count}}</li>
                    <li class="list-group-item"><b> Заполненные ячейки:</b> {{fill_count}}</li>
                    <li class="list-group-item"><b> Количество строк:</b> {{line_count}}</li>
                    <li class="list-group-item"><b> Количество столбцов:</b> {{column_count}}</li>
                </ol>
                
            </div>
          </div>
        </div>

        <div class="container mt-4">
            <form action="/" method="GET">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg">Новый диапазон</button>
                  </div>
            </form>
        </div>
    </body>
</html>